* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



// COLOR PALETTE

:root {
    --white: #F5F3EF;
    --green: #6F966B;
    --blue: #2F4858;
    --highlight: #b6e6b0;
    --animate-duration: 5s;
}



html {
    font-size: 16px;

    ::selection {
        background-color: var(--highlight);
        color: var(--blue);
    }

    moz::selection {
        background-color: var(--highlight);
        color: var(--blue);
    }
}

body {
    background-color: var(--white);

}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


// ===== INZIO MIXINS ===== //

@mixin titles {
    color: var(--green);
    font-size: 5rem;
    font-size: clamp(2rem, 4rem + 1.2vw, 5rem);
    font-weight: 900;

}

@mixin paragraphs {
    // font-size: 1.5rem;
    font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
    color: var(--blue);
}

@mixin page-containers {
    margin: 0;
    padding: 0 7rem;
}

@mixin buttons {
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    padding: .7rem 1.7rem;
    color: var(--white);
    text-transform: uppercase;

}

@mixin translateInHover {
    transform: translateY(-4px);
}

@mixin preventSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// ===== FINE MIXINS ===== //


p,
h1,
h2 {
    margin: 0;
}

h1,
img,
select,
button,
svg {
    @include preventSelection();
}


// ===== INIZIO NAVBAR ===== //


.navbar {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 5rem;



    .nav-links {
        display: flex;
        justify-content: space-between;

        a {
            margin: 0 3rem;
            font-size: 1.125rem;

        }
    }

    .btn-wallet {
        @include buttons;
        text-transform: capitalize;
        
    }



    img {
        width: auto;
        height: 55px;
    }

    a {

        font-weight: 500;
        color: #2F4858;
        text-decoration: none;
        transition: .2s ease-in-out;
    }

    a:hover {
        @include translateInHover;
    }

}

// ===== FINE NAVBAR===== //

.menu-mobile {
    display: none;
}


// ===== INIZIO HOME ===== //


.homepage-container {
    @include page-containers;
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;



    .homepage-content {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;

        h1 {
            @include titles;
            margin-bottom: 1.875rem;
        }

        div {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            @include paragraphs;
        }

    }


    button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        @include paragraphs;
        margin-top: auto;
        padding-bottom: 8rem;

        a {
            color: var(--blue);
            text-decoration: none;
        }



        img {
            margin-top: 1rem;
        }

    }

}

// ===== FINE HOME ===== //


// ===== INIZIO WHATS CARATO ===== //


#whats-carato-container {
    height: 100vh;
}

.whats-carato {
    height: 100vh;
    text-align: flex-start;
    display: flex;
    padding: 0 5rem;

    section {
        margin-top: auto;
        margin-bottom: auto;
        width: 50vw;

        h1 {
            @include titles;
            padding-top: 5rem;
        }

        p {
            @include paragraphs;
            margin-top: 2rem;
            margin-bottom: 0;
            padding-bottom: 4rem;
            width: 80%;
        }
    }

    canvas {
        width: 50%;
        border: 1px solid --blue;
        background-color: #2F4858;
    }


    button {
        @include buttons;
        transition: .2s ease-in-out;
        background-color: var(--blue);
    }

    button:hover {
        @include translateInHover;
    }
}


.legenda {
    height: fit-content;
    color: var(--blue);
    display: grid;
    place-items: center;

    .legenda-icons {
        display: flex;

        .legenda-txt {

            width: 100%;

            p {
                width: 50%;
            }

            img {
                margin-left: auto;
                width: 50px;

            }
        }

    }

    .elenco {
        margin: auto;
        width: 60%;
        margin-top: 10rem;
        margin-bottom: 5rem;

        h2 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;

        }

        p {
            margin-bottom: 4rem;
            @include paragraphs;

        }

    }
}




.card-container {
    background-color: #7E9680;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 5rem;

    .card {

        border-radius: 15px;
        color: #003005;
        margin: 0 1.5rem;
        transition: .2s ease-in-out;
        width: 18vw;
        min-width: 18vw;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 2.5vw;
            font-weight: 700;
            padding: 1rem 0;
            text-align: center;
            margin: 0;

        }

        p {
            font-family: 'Raleway', sans-serif;
            padding: 1rem 1.5rem;
            font-size: 1.2rem;
            margin: 0;

        }

        hr {
            margin: 0;
        }
    }

}

// ===== FINE WHATS CARATO ===== //



// ===== INIZIO HOW TO ===== //


.howto-container {
    height: 100vh;


    .howto-container .container-fluid {
        padding: 0;
    }

    .flickity-button {
        background: transparent;
    }

    .flickity-prev-next-button {
        width: 100px;
        height: 100px;
    }

    .flickity-prev-next-button.next {
        right: 5rem;
    }

    .flickity-prev-next-button.previous {
        left: 5rem;
    }

    .flickity-button-icon {
        fill: var(--green);

    }

    .flickity-button:hover {
        background: none;
    }

    .flickity-button:active {
        fill: var(--green);
    }


    h1 {
        @include titles;
        padding: 5rem 0;
        margin: 0;
        text-align: center;

    }

    .shadow-wrapper {
        background-color: #6557544F;
        border-radius: 10px;
        position: absolute;
        width: 50rem;
        height: 25rem;
        left: 10px;
        top: 10px;
        z-index: -10;
    }

    .carousel-cell {
        width: 100%;
        margin-bottom: 2rem;
        height: 25rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;




        .howtocard {
            width: 50rem;
            height: 25rem;
            background-color: var(--white);
            padding: 3rem 5rem;
            @include paragraphs;
            border: var(--blue) 2.5px solid;
            border-radius: 10px;
            position: relative;


            h2 {
                text-align: start;
                font-size: 3rem;
                font-weight: 700;
            }

        }

        .howto-txt {

            display: grid;
            place-items: center;

        }
    }
}

// ===== FINE HOW TO ===== //


// ===== INIZIO FOOTER ===== //


footer {
    background-color: var(--white);
    padding-top: 3rem;
    margin-top: 10vh;
    border-top: var(--green) 2.5px solid;



    .footer-links {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        img {
            width: 100px;
            height: auto;
            margin-bottom: 2rem;
        }

        a {
            color: #fdf1e9 !important;
            color: var(--blue) !important;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;


        }



    }

    .copy {
        text-align: center;
        width: 100%;
        padding: .5rem 0;
        align-items: center;
        background-color: var(--green);

        p {
            color: var(--white) !important;
            @include paragraphs;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;

        }

        a {
            color: var(--blue);
            text-decoration: none;
            @include paragraphs;
            font-size: 1rem;
            font-weight: 400;
        }



        svg {
            width: 15px;
            height: 15px;
            fill: var(--blue);
            transition: .8s ease-in-out;
        }

        svg:hover {
            transform: rotateY(180deg);
        }
    }

}

// ===== FINE FOOTER ===== //




// ===== INIZIO EVENTI ===== //


.eventi-page {


    .eventi-text {
        h1 {
            @include titles;
            text-align: center;
            padding-top: 5rem;
            padding-bottom: 1rem;
        }

        p {
            @include paragraphs();
            text-align: center;
            margin: 2rem 0;
        }

    }

    .eventi-cards {

        width: 100%;
        display: flex;
        flex-flow: row wrap;
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 3rem 5rem;

        .row {
            justify-content: center;
        }

    }

    .card-eventi {
        border-radius: 10px;
        border: var(--blue) 2px solid;
        width: 50%;
        margin: 1rem;
        text-align: center;
        background-color: var(--white);
        position: relative;


        h1 {
            @include paragraphs();
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 400;
            padding: 1rem 1rem 0 1rem;
        }

        h2 {
            @include paragraphs();
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0;
            margin-bottom: 1rem;
            padding: 0 1rem 0 1rem;
            word-wrap: break-word;

        }

        p {
            @include paragraphs();
            font-size: 1.2rem;
            padding: 0 1rem 1rem 1rem;

            span {
                font-weight: 700;
            }
        }

        .eventi-shadow {
            background-color: #6557544F;
            border-radius: 10px;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10px;
            top: 10px;
            z-index: -10;
        }
    }

}

// ===== FINE EVENTI ===== //



// ===== INIZIO ASSOCIAZIONI ===== //


.associazioni-page {


    h1 {
        @include titles;
        text-align: center;
        padding-top: 5rem;
    }
}

.associazioni-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 3rem 5rem;
}


.associazione-card {
    background-color: var(--white);
    border: var(--blue) 2.5px solid;
    border-radius: 10px;
    min-width: 25vw;
    padding: 1rem;
    flex-grow: 2;
    flex-basis: 0%;
    position: relative;

    .associazione-title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            aspect-ratio: 1/1;
        }

        h2 {
            @include paragraphs;
            font-weight: 700;
            margin-left: 2rem;
        }
    }

    .social-associazione {
        svg {
            width: 27px;
            margin-right: 1rem;
            margin-top: 1rem;
            transition: .3s ease-in-out;
        }



        svg:hover {
            @include translateInHover();
        }
    }

    .associazione-descrizione {
        @include paragraphs;
    }

    .associazione-shadow {
        background-color: #6557544F;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 10px;
        top: 10px;
        z-index: -10;
    }
}

// ===== FINE ASSOCIAZIONI ===== //




// ===== INIZIO PUNTI VENDITA ===== //


.punti-vendita-page {
    h1 {
        @include titles();
        text-align: center;
        padding-top: 5rem;
        margin-bottom: 3rem
    }

    .categorie {
        @include paragraphs();
        font-size: clamp(0.75rem, 0.75rem + 1vw, 1rem);
        margin-left: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        button {
            border: none;
            margin-right: 1.5rem;
            padding: 0.5rem;
            background-color: var(--white);
            border: transparent solid;
            border-width: 2px 2px 0 2px;
            border-radius: 10px 10px 0 0;
            color: var(--blue);
        }

        .active {
            background-color: #2acf183b;
            border: var(--blue) solid;
            border-width: 2px 2px 0 2px;
            border-radius: 10px 10px 0 0;
        }


        .categorie-btn {
            background-color: var(--white);
            border-width: 2px 2px 0 2px;
            border-radius: 10px 10px 0 0;
            border-color: var(--blue);
            padding: .5rem;
            outline: none;
            @include paragraphs();
            font-size: clamp(0.75rem, 0.75rem + 1vw, 1rem);
            width: 12rem;
            text-align: start;
            padding-left: 1rem;

        }

        .select-arrow {
            width: 15px;
            float: right;
            margin: .5rem;
        }

        .categorie-nomi {
            position: absolute;
            // display: block;
            z-index: 10;
            background-color: var(--white);
            border: var(--blue) solid;
            border-width: 0 2px 2px 2px;
            width: 12rem;
            border-radius: 0 0 10px 10px;
            overflow: hidden;

        }

        .categorie-tags {
            position: relative;
            display: block;
            padding: .5rem;
            padding-left: 1rem;

        }

        .categorie-tags:hover {
            background-color: var(--highlight);
            cursor: pointer;

        }




    }




    .punti-vendita-wrapper {
        border-radius: 10px 10px 10px 10px;
        border: var(--blue) 2px solid;
        padding: 4rem;
        margin: 0 2rem;
        margin-bottom: 10vh;
        display: flex;
        flex-flow: row wrap;
        column-gap: 3rem;
        row-gap: 2rem;
        justify-content: center;


        .punto-vendita {
            // flex: 0 0 20%;
            flex-basis: 17%;
            @include paragraphs();
            display: flex;
            flex-direction: column;
            // align-items: center;
            text-align: start;



            h3 {
                font-weight: 700;
                font-size: clamp(0.75rem, 0.75rem + 1vw, 1rem);


            }

            p {
                font-size: clamp(0.75rem, 0.75rem + 1vw, 1rem);

            }

            img {
                max-inline-size: 300px;
                aspect-ratio: 1/1;
                block-size: auto;
                object-fit: cover;
                object-position: top center;
                -webkit-user-drag: none;
                border: var(--blue) 2px solid;
                border-radius: 5px;
                padding: 2px;

            }

        }
    }



}

// ===== FINE PUNTI VENDITA ===== //


// ===== INIZIO WALLET ===== //


.wallet-page {
    padding: 0;

    .wallet-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;

        


        img {
            aspect-ratio: 1/1;
            width: 15vw;
            max-width: 160px;
            min-width: 100px;
        }
        
    

        h1 {
            @include titles();
            margin: 2rem 0;

        }

        h1,
        p,
        a {
            text-align: center;
        }

        a,
        p {
            @include paragraphs();

        }

        a {
            font-size: 1.2rem;
            margin-top: .5rem;
        }

        p {
            font-size: 1rem;
            margin-top: 2rem;
        }
    }




    .wallet-btns {

        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            @include paragraphs();
            color: var(--white);
            background-color: var(--green);
            border: none;
            border-radius: 10px;
            padding: 1rem 1.5rem;
            margin: 0rem 5rem;
            width: fit-content;
        }

        button:nth-child(1) {
            margin-bottom: 3rem;
        }
    }


}


// ===== FINE WALLET ===== //




// INIZIO PROGETTI //



.progetti-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;


    h1 {
        @include titles;
        text-align: center;
        padding-top: 5rem;
    }

    .progetto {
        margin: 3rem 5rem;
        border: var(--blue) 2px solid;
        border-radius: 15px;
        width: fit-content;
        padding: 1rem 2rem;
        transition: ease-in-out .4s;

    }

    .progetto:hover {
        background-color: var(--highlight);
    }

    a,
    p {
        color: var(--blue);
        text-decoration: none;
    }

    p {
        @include paragraphs();
    }
}



// MENU MOBILE



.bm-burger-button {
    top: 20px !important;
    display: none;

}

.bm-burger-bars {
    background-color: var(--blue) !important;
}

.bm-menu {
    background-color: var(--green) !important;
    border-left: var(--blue) 2px solid !important;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1000;
    right: -3px !important;


    a,
    p {
        text-decoration: none;
        color: var(--white) !important;
        text-align: start;
        font-size: 1.5rem;

    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        list-style-type: none;
        margin-bottom: .5rem;
        white-space: nowrap;
    }

    .menu-contatti path {
        fill: var(--white);
    }
}

.bm-cross {
    background: var(--white) !important;
}