RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule (\W|^)eventi(\W|$) eventi.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/collettivo-ocra.html [L]
RewriteRule (\W|^)kanimannira(\W|$) associazioni/kanimannira.html [L]
RewriteRule (\W|^)insieme-in-citta(\W|$) associazioni/insieme-in-citta.html [L]
RewriteRule (\W|^)legambiente(\W|$) associazioni/legambiente.html [L]
RewriteRule (\W|^)ragusattiva(\W|$) associazioni/ragusattiva.html [L]
RewriteRule (\W|^)rinascita-verde(\W|$) associazioni/rinascita-verde.html [L]
RewriteRule (\W|^)rimboschiamo(\W|$) associazioni/rimboschiamo.html [L]
RewriteRule (\W|^)ragusa-abbogghia(\W|$) associazioni/ragusa-abbogghia.html [L]


RewriteRule (\W|^)proxima(\W|$) esercenti/proxima.html [L]