RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule (\W|^)eventi(\W|$) eventi.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/collettivo-ocra.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/kanimannira.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/insieme-in-città.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/legambiente.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/ragusattiva.html [L]
RewriteRule (\W|^)collettivo-ocra(\W|$) associazioni/rinascita-verde.html [L]

RewriteRule (\W|^)collettivo-ocra(\W|$) esercenti/proxima.html [L]